#postcontainer {
    background-color: #c2f0f0;
    border-radius: 10px;
}

#postpagination {
    background-color: aliceblue;
    border-radius: 10px;
}

#tagpagination {
    background-color: aliceblue;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 10px;
}

#imagerow {
    font-size: 0.9em;
    max-height: 200px;
    max-width: 200px;
}

#postrow {
    background-color: #ebfafa;
    border-radius: 4px;
    padding: 0 4px;
    margin: 2px;
}

#post_title {
    margin: 0.3em 0;
}

#post_image {
    margin-top: 0.2em;
    max-height: 50px;
    max-width: 50px;
    border: 2px solid black;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

#post_list {
    padding: 1em;
    list-style-type: none;
}

#pagination_previous {
    padding: 10px;
}

#pgprevious {
    border: 2px solid blue;
    border-radius: 10px;
    padding-top: 0.8em;
    text-align: center;
}

#tagpgprevious {
    border: 2px solid blue;
    border-radius: 10px;
    padding-top: 0.8em;
    text-align: center;
}

#pgcurrent {
    text-align: center;
    padding-top: 0.8em;
}

#tagpgcurrent {
    text-align: center;
    padding-top: 0.8em;
}

#pgnext {
    border: 2px solid blue;
    border-radius: 10px;
    padding-top: 0.8em;
    text-align: center;
}

#tagpgnext {
    border: 2px solid blue;
    border-radius: 10px;
    padding-top: 0.8em;
    text-align: center;
}